body {
   height: 100%;
   margin: 0;
   overflow-x: hidden;
   background-color: #eee;
   font-size: "Source Sans Pro", sans-serif;
}

.wrapper {
   max-width: 100%;
   margin: auto;
}

.map {
}

.side-bar {
}
